baseURL: "https://hugo-profile.netlify.app"
languageCode: "en-us"
title: "Ekanshh Praveen"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"

Paginate: 3
enableRobotsTXT: true
# disqusShortname: your-disqus-shortname
# googleAnalytics: G-MEASUREMENT_ID

markup:
  goldmark:
    renderer:
      unsafe: true

# Menus:
#   main:
    # - identifier: blog
    #   name: Blog
    #   title: Blog posts
    #   url: /blogs
    #   weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "EP"
  description: Hi, it's Ekanshh :))
  # staticPath: ""  # The path to serve the static files from
  favicon: "/faviconheart2.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    # disableThemeToggle: true
    defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  # color:
  #   textColor:
  #   secondaryTextColor:
  #   backgroundColor:
  #   secondaryBackgroundColor:
  #   primaryColor:
  #   secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    # showBrandLogo: false # Show brand logo in nav bar | default is true
    brandName: "EP" # Brand name for the brand | default is the title variable
    disableSearch: false
    # searchPlaceholder: "Search"
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hi, my name is"
    title: "Ekanshh"
    subtitle: "I build awesome things :)"
    content: "A passionate third-year Software Engineering student at the University of Waterloo. I love using the power of computing and engineering to build things that help people."
    image: /images/hero.jpg
    bottomImage:
      enable: true
    # roundImage: true # Make hero image circular | default false
    button:
      enable: true
      name: "Resume"
      url: "https://drive.google.com/file/d/1GyJ2w2cS9CiGQCKfQa6RRr813tw3u59u/view?usp=drive_link"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/Rocksen1683
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/ekanshh-praveen/


  # About
  about:
    enable: true
    title: "About Me"
    image: "/images/me.jpg"
    content: |
      I am a Software Engineer based in Waterloo, ON :)) I love mathematics and engineering and strive to utilize them to build things that I find cool - be it a self-driving rover or a language learning app.

      Other than the tech-y stuff, I have a deep passion for Formula 1, movies and most importantly food. You can find me analyzing why Ferrari causes pain or cooking up my signature chocolate cheese sandwich.

      Some of my **allies**: 
    items:
      Languages: Python, SQL, C++, C, TypeScript, Kotlin, Golang, Solidity
    skills:
      enable: true
      items:
        - Python
        - SQL
        - C/C++
        - TypeScript
        - Kotlin
        - Golang

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "Software Engineering Intern"
        company: "SEW-Eurodrive"
        companyUrl: "https://www.sew-eurodrive.de/automation/maxolution-system-solutions/mobile-systems/mobile-systems.html"
        date: "Aug 2023 - present"
        # featuredLink:
        #   enable: false
        #   # name: "View the project"
        #   url: "https://www.sew-eurodrive.de/automation/maxolution-system-solutions/mobile-systems/mobile-systems.html"
        content: |
              - Developing a C++ 3D Obstacle Detection system using FastSLAM and MV3D for an autonomous forklift
              - Engineering OpenGL simulation framework for camera calibration; improving detection accuracy by 15%
              - Building a Mosquitto MQTT broker for forklift orders; enabling parallel transactions for 100+ forklifts   

      - job: "Data Scientist Intern"
        company: "Sagen"
        companyUrl: "https://sagen.ca"
        date: "Jan 2023 - Apr 2023"

        content: |
          - Developed PySpark microservice to calculate Capital; reduced run-time from 5 hours to 9 minutes
          - Improved preparation time of Capital datasets by 65% using PySpark SQL and AWS Data Wrangler
          - Migrated in-house regression model to AWS Autopilot; achieved 11% better Mean Absolute Error
          - Optimized Autopilot models for Batch Inferencing; led to company-wide adoption of SageMaker tools

      - job: "Software Developer Intern"
        company: "Royal Bank of Canada"
        companyUrl: "https://www.rbcroyalbank.com/"
        date: "May 2022 - Aug 2022"

        content: |
          - Built Python ETL pipelines for a TM1 database; increased the speed of ETL processes by 262% using TM1py
          - Deployed TurboIntegrator scripts to purge and archive data; reduced server processing time by 15%
          - Developed OData REST API to retrieve S3 bucket data; built internal dashboards for cloud data with Tableau

      - job: "Technology Intern"
        company: "IBM"
        companyUrl: "https://www.ibm.com/ca-en"
        date: "Dec 2020 - Feb 2021"

        content: |
          - Built a road-accident detection system using IBM Watson; processed videos with OpenCV
          - Engineered navigation system with Google Maps and communication system with Twilio and IMAP

      

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Bachelor of Software Engineering (BSE)"
        school:
          name: "University of Waterloo"
          url: "https://uwaterloo.ca/future-students/programs/software-engineering"
        date: "2021 - present"
        # GPA: "3.8 out of 5.0"
        content: |-
          Relevant Courses: Data Structures, OOP in C++, Statistics, Databases, Linear Algebra, Compilers

          Extracurricular Activities
            - Computer Vision Developer at UW Aerial Robotics Group
            - Engineering Society Representative for Software Engineering
            - Squash, Water Polo, Poker Club, Formula One


  # Achievements
  achievements:
    enable: true
    # title: "Custom Name"
    items:
      - title: Canadian Engineering Competition 2022
        content: Represented UWaterloo and Ontario in National level programming competiition; won $2000 in prize-money.
        # url: https://example.com
      - title: ETH-New York 2022
        content: Won the Optimism Prize for developing a decentralized canvas
      - title: IBM AI for Better India Challenge 
        content: Finalist in national-level AI contest (top 10 out of 1000+ teams)
        # url: "https://github.com/gurusabarish/hugo-profile"
      - title: IT Council Co-Founder
        content: Co-founded my high school's first tech and computing club; held a tech-fest with 300+ participants
      
  # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
      - title: SEnsory
        content: A voice-controlled autonomous rover that finds objects for you
        image: /images/projects/sensory.jpg
        # featured:
        #   name: Demo
        #   link: https://hugo-profile.netlify.app
        badges:
          - "Python"
          - "C++"
          - "TensorFlow"
          - "Flask"
          - "OpenCV"
          - "Flutter"
        links:
          - icon: fab fa-github
            url: https://github.com/Rocksen1683/SEnsory

      - title: Catan
        content: Rendition of the Settlers of Catan that can be played on the Terminal
        image: /images/projects/catan3.png
        badges:
          - "C++"
          - "Smart Pointers"
          - "Design Patterns"
          - "OOP"
        links:
          - icon: fab fa-github
            url: https://github.com/CtorCatan/settlers-of-catan

      - title: Time-Series Forecasting
        content: Desktop Application to predict the closing values of stocks using the ARIMA Model
        image: /images/projects/arima.png
        badges:
          - "Python"
          - "Kivy"
          - "numpy"
          - "Pandas"
          - "statsmodels"
        links:
          - icon: fab fa-github
            url: https://github.com/Rocksen1683/time-series-forecasting

      - title: PriceMatch
        content: Web-app that scans a particular item and helps you find the cheapest price 
        image: /images/projects/pricematch2.png
        badges:
          - "React"
          - "Flask"
          - "scikit-learn"
          - "Firebase"
          - "GCP"
        links:
          - icon: fab fa-github
            url: https://devpost.com/software/pricematch

      - title: SnapStudy
        content: Android language-learning app that uses computer vision to make flashcards of objects
        image: /images/projects/snapstudy3.png
        # featured:
        #   name: Demo
        #   link: https://django-converter.herokuapp.com
        badges:
          - "Kotlin"
          - "Jetpack Compose"
          - "MobileNet"
        links:
          - icon: fab fa-github
            url: https://github.com/SnapStudyApp/SnapStudy-android

      - title: EnviroPact
        content: Social Dashboard for environmental good to see the impact you've made
        image: /images/projects/enviropact.png
        badges:
          - "React"
          - "TypsScript"
          - "Solidity"
          - "Firebase"
        links:
          - icon: fab fa-github
            url: https://github.com/EnviroPact/EnviroPact
      
      - title: Image Classifier
        content: Image Classifier for the CIFAR-10 dataset using TensorFlow
        image: /images/projects/cifar.png
        badges:
          - "Python"
          - "Jupyter Notebook"
          - "TensorFlow"
        links:
          - icon: fab fa-github
            url: https://github.com/Rocksen1683/computer-vision-bootcamp

      
      - title: DeCanvas
        content: Decentralised web3 pixel canvas, where unique users can paint pixels directly to the blockchain
        image: /images/projects/DeCanvas.png
        badges:
          - "React"
          - "TypeScript"
          - "Solidity"
          - "Firebase"
        links:
          - icon: fab fa-github
            url: https://github.com/Skitzzy/deCanvas
      
      - title: HyperFocus
        content: An application that helps you get work done while still balancing your physical and mental health
        image: /images/projects/hyperfocus2.png
        badges:
          - "React"
          - "Spotify"
          - "Firebase"
        links:
          - icon: fab fa-github
            url: https://github.com/Avikam03/newhacks

      




  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: Looking for 2024 technical internship opportunities! Feel free to reach out to me :)
    email: edpravee@uwaterloo.ca
    btnName: Mail me
    # formspree:
    #   enable: true # `contact.email` value will be ignored
    #   formId: abcdefgh # Take it from your form's endpoint, like 'https://formspree.io/f/abcdefgh'
    #   emailCaption: "Enter your email address"
    #   messageCaption: "Enter your message here"

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: false
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/Rocksen1683
      linkedin: https://www.linkedin.com/in/ekanshh-praveen/
      instagram: https://www.instagram.com/ek.praveen03


  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false

  # Single pages like blog and post
  # singlePages:
  #   readTime:
  #     enable:       content: "min read"
  #   scrollprogress:
  #     enable: true

  # For translations
  terms:
    read: "Read"
    toc: "Table Of Contents"
    copyright: "All rights reserved"
    pageNotFound: "Page not found"
    emailText: "Check out this site"

  datesFormat:
    article: "Jan 2, 2006"
    articleList: "Jan 2, 2006"
    articleRecent: "Jan 2, 2006"

  #customScripts: -| # You can add custom scripts which will be added before </body> tag
  #  <script type="text/javascript"><!-- any script here --></script>